body {
    background: #202020;
    color: white;
}

.logocontainer {

margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.center {

    margin-top: 70px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}